* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0px;
}

.header {
  height: 96px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headercard {
  background-color: black;
  border: none;
}
.headernav {
  display: flex;
  gap: 34px;
}

.headernav a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.headernav a:hover {
  color: #d87d4a;
  text-decoration: underline;
}
.hero {
    margin-top: 0.5px;
    height: 239px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.earphonescard {
    height: 560px;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.earphonescardimg{
    width: 540px;
    height: 560px;
    background-color: #F1F1F1;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

.newproduct {
    color: #D87D4A;
    font-size: 14px;
    letter-spacing: 10px;
    text-transform: uppercase;
    width: 445px;
    font-weight: 600;
}

.abouthero {
    font-size: 40px;
    letter-spacing: 1.43px;
    font-weight: 700;
    width: 445px;
    margin-top: 15px;

}

.aboutp {
    font-size: 15px;
    color: #000000;
    opacity: 50%;
    width: 445px;
    margin-bottom: 40px;
}

.seeproduct {
    width: 160px;
    height: 48px;
    background-color: #D87D4A;
    font-size: 13px;
    color: white;
    border: none;
    text-transform: uppercase;
}


.bgfooter {
    background-color: black;
    width: 100%;
    height: 365px;
    margin-top: 200px;
}
.bittanarsa {
    width: 101px;
    height: 4px;
    background-color: #D87D4A;
    margin-left: 194px;
}
.HHSE {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 13PX;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.imgvanav {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    gap: 538px;
    margin-top: 71px;
}
.hhse4 {
    display: flex;
    gap: 34px;
}
.is {
    width: 540px;
    height: 100px;
    color: white;
    opacity: 50%;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    margin-left: 194px;
    margin-top: 36px;
}
.Copyright {
    width: 540px;
    height: 25px;
    color: white;
    opacity: 50%;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    margin-top: 56px;
    margin-left: 194px;
}
.a3 {
    display: flex;
    gap: 16px;
    margin-left: 1222px;
    margin-bottom: 50px;
}


.hseshop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
    margin-top: 200px;
}
.div3 {
    width: 350px;
    height: 250px;
    background-color: #F1F1F1;
    border-radius: 8px;
    flex-direction: column;
}
.hse2 {
    position: absolute -25%;
}
.hse {
    text-transform: uppercase;
    font-weight:700px;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1.29px;
}
.Shop {
    text-decoration: none;
    color: black;
    opacity: 50%;
}
.blb {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
    margin-top: 200px;
}
.Bringing {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
    text-transform: uppercase;
    width: 445px;
    height: 88px;
}
.best {
    color: #D87D4A;
}
.located {
    width: 445px;
    height: 175px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: black;
    opacity: 50%;
}
.brat {
    border-radius: 8px;
}